.notification{
    width: 350px;
    padding: 15px 25px;
    background-color: lightgreen;
    border-radius: 5px;
    color:white;
    position: fixed;
    top:10px;
    right: 10px;
    box-shadow: 0px 0px 7px 0px #6e6e6e ;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.notification.hide{
    opacity: 0;
}

.notification.error{
    background-color: rgb(187, 130, 189);
}