* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body>div {
  width: 90%;
  height: auto;
  border: 1px solid rgb(179, 214, 143);
  flex-shrink: 0;
  border-radius: 5px;
  border-style: dashed;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
}

#app {
  background-color: rgb(179, 214, 143);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 30px 30px;
  gap: 40px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // border: 1px solid red;
}

button {
  max-width: 70px;
  max-height: 50px;
  margin: 10px;
  font-size: 12px;
  padding: 5px;
}

h1 {
  margin: 0;
  padding: 0;
}

.card-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid red;
}

.card {
  width: 100%;
  max-width: 240px;
  height: auto;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
}

.card img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
}

.card .card-content {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.counter input {
  height: 40px;
  width: 40px;
  padding-left: 14px;
}

.btn-counter {
  height: 40px;
  width: 40px;
}

/* MY TODO: move input text up in the input field */
.text-input {
  width: 400px;
  border-radius: 5px;
}

.text-input::placeholder {
  transform: translateY(-22px);
  opacity: 0.7;
  transition: transform 0.2s;
}

.login-form {
  width: 400px;
  height: 200px;
  background-color: rgb(138, 190, 138);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form input {
  margin: 10px;
}

.login-form button {
  height: 30px;
  width: 60px;
  background-color: orange;
  border-radius: 5px;
}

.timer {
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
}