html,
body {
    height: 100%;
}

.container {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    display: flex;

    /*Направление основной оси флекс-контейнера*/
    flex-direction: row;
}

    /*Оновная справа-налево. Направление наоборот*/
    /*flex-direction: row-reverse; 

    /*Дополнительная ось меняется на вертикальную.*/
    /*flex-direction: column;
   
    /*Оновная снизу-вверх. Отображение с конца основной оси*/
    /*flex-direction: column-reverse;

    /*Элементы вначале располагаются*/
    /*justify-content: flex-start; 

    /*justify-content: flex-end;*/
    /*justify-content: center;
    /*justify-content: space-between;

    /*Половина расстояния справа и слева от флекс-контайнера*/
    /*justify-content: space-around;  
    /*justify-content: center;

    /*Выравнивание по поперечной оси*/
    /*align-items:center;
    /*align-content: center; 

    /*Расстояние вокруг элементов*/
    /*gap: 15px; */


.container div {
    padding: 30px;
    border: 1px solid black;
}

.first {
    background-color: rgb(206, 253, 135);
}

.second {
    background-color: rgb(255, 255, 119);
}

.third {
    background-color: rgb(255, 131, 131);
}

nav ul {
    display: flex;
}