html, body{
    height:100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

div{
    /* width:960px;*/
    width: 100%;
    max-width: 960px;
    height: 300px;
    border: 1px solid black;
}

@media(max-width: 960px) and /*or*/ /*(max-height:300px)*//*(min-width:860px)*/{
    div{
        background-color: rgb(0, 0, 161);}
}

@media(min-width: 960px){
    div{
        border-radius: 10px;
    }
}

