body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    max-height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
}

nav{
    display: flex;
    align-items: center;
}

header nav > ul{
    display: flex;
    gap: 15px;
}

header .logo a{
    color:white;
    font-size: 24px;
    padding-right: 15px;
}

header nav a{
    color: rgb(151, 151, 151);
}

header nav a:hover{
    color: rgb(183, 183, 183);
}

header input{
    height: 40px;
    border-radius: 7px;
    border:none;
    margin-left: auto;
}

header nav li ul{
    display: none;
}

/* All submenu items are hidden without hovering */
nav ul ul {
    display: none;
    visibility: hidden;
}


.sandwich{
display:none;
width: 45px;
height: 40px;
border: 1px solid grey;
border-radius: 5px;
background: none;
/*display: flex;*/
align-items: center;
justify-content: center;
gap:6px;
flex-direction: column;
cursor: pointer;
}

.sandwich span{
    background-color: grey;
    height: 2px;
    width: 25px;
    display: block;
}

@media(max-width:992px){
    header nav{
        display: none;
    }
    header input{
        display: none;
    }
    .sandwich{
        display: flex;
        margin-left: auto;
    }
}