@import 'normalize';
@import 'mixins';
@import 'variables';

html,body{
    height: 100%;
}

body{
    background-color: $bodyColor;
    @include flex-center(); // примесь включена
}

body > div{
    font-size: 25px;
    text-transform: uppercase;
    color: pink;
    text-decoration: line-through;
    text-decoration-color: greenyellow;
}

 h2{
     margin-left: 40px !important;
     padding-left: 40px !important;
 }
