@import "normalize";
@import "bootstrap";

#cart {
  right: 40px;
  top: 15px;
  z-index: 9;
  width: 600px;
  height: 800px;
}

body img{
  animation: fadeIn 1.5s ease-in 1 both;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

