.container{
    width: 960px;
    height: auto;
    margin: 0 auto;
}
.table{
    width: 100%;
    border-collapse: collapse;
}

/*table{
    caption-side: bottom;
    border-collapse: collapse;
    width: 960px;
    height: auto;
    margin: 0 auto;
    border:none;
}

thead th{
background-color: white;
}
*/
.table tbody tr:nth-child(odd){
    background-color: rgb(231, 231, 231) ;
}

.table th, .table td{
    padding: 10px;
}

/*.table th{
    text-align:left;
}*/

.table tr td{
    border-bottom: 1px solid #949494;
}

.table tbody tr td:first-child{
    font-weight: 700;
}