/* TODO разобраться с базой: без бутстрапа и флексов */

:root {
  --font-source-serif: "Source Serif 4", serif;
  --font-source-code-pro: "Source Code Pro", monospace;

  --color-background: #ffffff;
  --color-text1: #000000;
  --color-text2: #0034AD;
  --color-text3: #AB0782;
  --color-text4: #6E660A;
  --color-text5: #5F00AD;
}

.color1 {
  color: var(--color-text1);
}

.color2 {
  color: var(--color-text2);
}

.color3 {
  color: var(--color-text3);
}

.color4 {
  color: var(--color-text4);
}

.color5 {
  color: var(--color-text5);
}

body {
  background-color: var(--color-background);
  font-family: var(--font-source-serif);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-source-serif);
}

a {
  font-family: var(--font-source-code-pro);
}

.container {
  /* width: 100%; */
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;

  border: 1px solid rgb(51, 255, 0);
}

/*--------------------------------------------------------*/

/* header */
/* structure */
header {
  height: 180px;
  width: 100%;
  /* if width: 100vw / max-width: 100% - fixed header will not be the full width */
  margin: 0 auto;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-text2);
  /* for fixed header version (who knows how if should be): */
  /* position: fixed; 
  top: 0;
  left: 0; 
  z-index: 99;  */
}

header .container {
  height: 180px;
  max-width: 1180px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* without flex: */
/* .container .logo-container,
.container .menu-container {
  display: inline-block;
  vertical-align: middle;
} */

/* without flex: */
/* .logo-container,
.menu-container {
  display: inline-block;
  vertical-align: middle;
} */

/* without flex: */
/* .logo-container img,
.logo-container .logo-text {
  display: inline-block;
  vertical-align: middle;
} */

.logo-container {
  height: 100px;
  max-width: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.logo-container img {
  height: 50px;
  width: auto;
  border-radius: 50%;

  /* without flex: */
  /* margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 100px; */
}

.logo-container .logo-text {
  height: 40px;
  width: 140px;
  display: flex;
  flex-direction: row;

  /* without flex: */
  /* margin-top: 100px;
  margin-bottom: 100px; */
}

.menu-container {
  height: 30px;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  gap: 12px;

  /* without flex: */
  /* margin-top: 46.8px;
  margin-left: 800px;
  margin-bottom: 116px; */
}

.menu a {
  filter: grayscale(0%);
  transition: filter 0.3s ease;
}


/* colors */
.menu a .color3 {
  color: var(--color-text3);
  text-decoration: none;
  font-size: 1rem;
  line-height: 103%;
  letter-spacing: -4.5%;
}

.menu a .color4 {
  color: var(--color-text4);
  font-size: 1rem;
  line-height: 103%;
  letter-spacing: -4.5%;
}

.menu a .color5 {
  color: var(--color-text5);
  font-size: 1rem;
  line-height: 103%;
  letter-spacing: -4.5%;
}

.menu a:hover {
  color: var(--color-text1);
  font-size: 1rem;
  line-height: 103%;
  letter-spacing: -4.5%;
  filter: grayscale(80%);
}

.menu a:focus {
  color: var(--color-text1);
  font-size: 1rem;
  line-height: 103%;
  letter-spacing: -4.5%;
}

/*--------------------------------------------------------*/

/* main */
main {
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-background);
}

main .container {
  max-width: 1180px;
  padding: 0;
}

main .portfolio{
  display: grid;
  grid-template-columns: repeat(2, 568px);
  gap: 44px;
  justify-content: space-between;
}

main img {
  padding-top: 50px;
  padding-bottom: 80px;
}

main .description {
  padding-top: 50px;
}

main a {
  font-size: 1rem;
  font-family: var(--font-source-code-pro);
  line-height: 103%;
  letter-spacing: -4.5%;
  text-decoration: underline;
}

main h2 {
  font-size: 50px;
  font-family: var(--font-source-serif);
  line-height: 125%;
  letter-spacing: -4.5%;
  font-weight: 300;
  margin-top: 26px;
  margin-bottom: 22px;
}

main button {
  background-color: var(--color-background);
  border-width: 1px;
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 7px;
  padding-left: 10px;
  font-size: 1rem;
  font-family: var(--font-source-code-pro);
  line-height: 125%;
  letter-spacing: -4.5%;
}

/* block color*/
#block1 p {
  color: var(--color-text1);
}

#block2 a,
h2,
button {
  color: var(--color-text2);
}

#block3 a,
h2,
button {
  color: var(--color-text3);
}

#block4 a,
h2,
button {
  color: var(--color-text4);
}

#block5 a,
h2,
button {
  color: var(--color-text5);
}

#block6 a,
h2,
button {
  color: var(--color-text2);
}

#block7 a,
h2,
button {
  color: var(--color-text1);
}

/* button border-color*/
#block2 button {
  border-color: var(--color-text2);
}

#block3 button {
  border-color: var(--color-text3);
}

#block4 button {
  border-color: var(--color-text4);
}

#block5 button {
  border-color: var(--color-text5);
}

#block6 button {
  border-color: var(--color-text2);
}

#block7 button {
  border-color: var(--color-text1);
}

/* block1 & block7 */
/* block1 */
#block1 .intro-container {
  height: 298px;
  max-width: 1180px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  border: 1px solid magenta;
}

#block1 p {
  margin-top: 26px;
  margin-bottom: 40px;
  font-family: var(--font-source-serif);
  font-size: 50px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -4.5%;
}

/* block7 */
#block7 .outro-container {
  height: 390px;
  max-width: 1180px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  border: 1px solid magenta;
}

#block7 p {
  margin-top: 20px;
  margin-bottom: 52px;
  font-family: var(--font-source-serif);
  font-size: 50px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -4.5%;
}

#block7 button {
  height: 27px;
  width: 300px;
  padding: 4px 10px 7px 10px;
  margin-bottom: 120px;
  border: 1px solid var(--color-text1);
  font-family: var(--font-source-code-pro);
  font-size: 16px;
  line-height: 103%;
  letter-spacing: -4.5%;
  font-weight: 300;
}

/*--------------------------------------------------------*/

/* footer */
/* structure */
footer {
  height: 380px;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  background-color: var(--color-background);
  border-top: 1px solid var(--color-text1);
  display: flex;
  flex-direction: column;
}

footer .container {
  height: 380px;
  max-width: 1180px;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social {
  height: 190px;
  width: 1180px;
  padding-top: 36px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-social nav {
  /* TODO узнать когда-нибудь почему не применяется space-between c авто-расстояниями,
   а надо вручную подбирать gap в пикселях или так оно и работает*/
  /* display: grid;
  grid-template-columns: repeat(3, 186px);
  gap: 310px;
  justify-content: space-between; */

  display: flex;
  flex-direction: row;
  gap: 370px;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-social nav a {
  display: block;
  width: auto;

  text-decoration: underline;
  font-family: var(--font-source-serif);
  font-size: 50px;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: -4.5%;
}

.footer-copiright {
  height: 190px;
  width: 1180px;
  padding-bottom: 82px;

  display: flex;
  flex-direction: row;
  align-items: end;

  color: var(--color-text1);
  font-family: var(--font-source-serif);
  font-size: 50px;
  font-weight: 300;
}

/* colors */
.footer-social .color2 {
  color: var(--color-text2);
  background-color: var(--color-background);
  /* padding: 18px 0; */
}

.footer-social .color3 {
  color: var(--color-text3);
  background-color: var(--color-background);
  /* padding: 18px 0; */
}

.footer-social .color5 {
  color: var(--color-text5);
  background-color: var(--color-background);
  /* padding: 18px 0; */
}