html, body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
}
.dashboard div{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.dashboard div:nth-child(-n+4),
.dashboard div:nth-child(5),
.dashboard div:nth-child(9),
.dashboard div:nth-child(13),
.dashboard div:nth-child(17),
.dashboard div:nth-child(4n-3),
.dashboard div:nth-child(10),
.dashboard div:nth-child(11),
.dashboard div:nth-child(12),
.dashboard div:nth-child(13),
.dashboard div:nth-child(16),
/*.dashboard div:nth-child(18),
.dashboard div:nth-child(19),
.dashboard div:nth-child(20)*/
.dashboard div:nth-child(n+17):nth-child(-n+20)
{
    background-color: grey;
}