body{
    background-color: black;
    background-color: rgb(31, 31, 31);
}

main{
background-color: #141415;
color:#6464ce;
}

footer{
    background-color: rgb(31, 31, 31);
    color:rgb(148, 148, 148);
}