html,
body {
    height: 100%;
    font-family: "Source Code Pro", monospace;
    /* font-family: "IBM Plex Mono", monospace; */
}

body {
    background-image: url("../img/auth_background_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex !important;
    align-items: center;
    align-items: center !important;
    justify-content: center;
    text-align: left;
}

.container {
    width: 476px;
    height: 576px;
    margin: 0 auto;
    padding-top: 33px;
    padding-right: 38px;
    padding-bottom: 41px;
    padding-left: 38px;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    border-radius: 30px;
    /* Translucent color: */
    background-color: rgba(158, 159, 174, 0.6);
    /* border: 1px solid red; */
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Translucent color: */
    background-color: rgba(52, 49, 72, 0.5);
    z-index: -1;
}

h1 {
    font-weight: 200 !important;
    font-family: "Source Code Pro", monospace;
    color: white;
    font-size: 22px;
    line-height: 28px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 23px;
}

.form {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid lime; */
}

#registration_form {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(251, 255, 0); */
}

.form .auth_logo {
    width: 60px;
    width: 60px;
    vertical-align: middle;
    /* Moon glow: */
    filter: drop-shadow(1px 1px 0 rgb(244, 245, 193, 0.5)) drop-shadow(-1px -1px 0 rgb(145, 145, 132, 0.5)) drop-shadow(0 0 25px rgba(255, 255, 255, 0.9));
    animation: glow 6s infinite ease-in-out;
}

@keyframes glow {
    0% {
        filter: drop-shadow(0px 0px 5px rgba(255, 254, 208, 0.5));
        /* Soft glow */
    }

    50% {
        filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.8));
        /* Bright glow */
    }

    100% {
        filter: drop-shadow(0px 0px 5px rgba(255, 254, 208, 0.5));
        /* Return to soft */
    }
}

.form p {
    color: rgba(206, 206, 214);
    padding-top: 0;
    padding-bottom: 0;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
}

.form-floating {
    position: relative;
    padding: 0;
}

.form input {
    border-radius: 0;
    border: 2px solid rgba(206, 206, 214);
    position: relative;
    margin-bottom: 18px;
    background-color: rgba(113, 115, 136, 0.5);
    color: rgba(206, 206, 214);
}

.form input:focus {
    border-radius: 0;
    outline: 0;
    border-color: rgba(52, 49, 72, 0.5);
    outline: 4px solid rgba(206, 206, 214);
}

.form input[type="email"] {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 50px;
    padding: 10px;
    width: 400px;
}

.form input[type="email"]:focus {
    z-index: 1;
}

.form-check {
    text-align: left !important;
    display: flex;
    border: none;
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.form input[type="button"] {
    z-index: 1;
    width: 400px;
    height: 36px;
    border: none;
    background: none;
    color: #343148;
    font-weight: 600;
    padding: 0px !important;
    padding-left: 0 !important;
    margin: 0;
    text-align: left;
}

.form .button-1 {
    width: 400px;
    height: 50px;
    border: none;
    /* Translucent color: */
    background-color: rgba(52, 49, 72, 0.5);
    color: rgba(206, 206, 214);
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 3.5px;
    margin-bottom: 3.5px;
}

.button-1:hover {
    /* Translucent color: */
    background-color: rgba(85, 80, 116, 0.5);
    cursor: pointer;
}

.form .button-2 {
    width: 400px;
    height: 50px;
    border: none;
    /* Translucent color: */
    background-color: rgba(95, 92, 116, 0.5);
    color: rgba(206, 206, 214);
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 3.5px;
    margin-bottom: 3.5px;
}

.button-2:hover {
    /* Translucent color: */
    background-color: rgba(112, 107, 146, 0.5);
    cursor: pointer;
}

.form .button-3 {
    width: 400px;
    height: 50px;
    border: none;
    background-color: #343148;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 3.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

.form .button-3 .vk-id-button {
    filter: none;
    margin-left: 6px;
    width: 30px;
    height: 30px;
}

.button-3:hover {
    background-color: #4b4672;
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.links img {
    width: 48px;
    height: 48px;
    filter: none;
    margin-top: 21px;
    margin-bottom: 41px;

}

.links svg {
    width: 48px;
    height: 48px;
    filter: none;
    margin-top: 21px;
    margin-bottom: 41px;

}

/* MY_TODO: add media for tablet and mobile */