html,
body {
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    max-height: 5400px;

    background-color: #343148;
    font-family: "Source Code Pro", monospace;
    /* font-family: "Silkscreen", sans-serif;
    /* font-family: "Press Start 2P", system-ui;
    /* font-family: "IBM Plex Mono", monospace; */
    /* To hide horizontal scrolling for the entire page: */
    overflow-x: hidden;

    /* display: flex !important;
    align-items: center;
    align-items: center !important;
    justify-content: center;
    text-align: left; */
}

/* .wrapper {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center;
}

.container {
    width: 1245px;
    height: 626px;
    margin: 0 auto;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    background-color: transparent;
    margin-bottom: 100px;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(22, 18, 47, 0.8);
    z-index: -1;
}

h1 {
    display: flex;
    color: #E2552D;

    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

/* .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 400px;
    color: #E2552D;
} */

/*-------------------------------------------------------------*/

/* header */
header {
    position: fixed;
    z-index: 6;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 90px;
    border: 1px solid lime;

    background-color: #343148;

    color: #E2552D;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    max-width: 1440px;
    max-height: 90px;
    margin: 0px auto;
    border: 1px solid red;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* min-width: 428px; */
    width: fit-content;
    margin-left: 50px;
    border: 1px solid green;
}

.search input {
    width: 368px;
    height: 40px;
    padding-left: 15px;
    margin-right: 20px;
    border: none;
    outline: none;

    border-radius: 40px;
    background-color: #1C173C;

    color: #ffffff;
}

.search-button {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;

    border-radius: 40px;
    background-color: transparent;
}

/* .search-input {
    width: 368px;
    height: 40px;
    border-radius: 40px;
    background-color: #1C173C;
    color: #ffffff;
    border: 1px solid #1C173C;
    padding-left: 30px;

    background-image: url('../src/img/search.svg');
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 16px;
}

.search-input::placeholder {
    border-radius: 40px;
    background-color: #1C173C;
    color: white;
    border: 1px solid #1f01e0;

} */

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    /* width: 120px;
    height: 80px; */
}

.logo-container img {
    padding-bottom: 0;
    margin-bottom: 0;
    /* Moon glow: */
    /* filter: drop-shadow(1px 1px 0 rgb(244, 245, 193, 0.5)) drop-shadow(-1px -1px 0 rgb(145, 145, 132, 0.5)) drop-shadow(0 0 25px rgba(255, 255, 255, 0.9)); */
    /* animation: glow 6s infinite ease-in-out; */
}

/* @keyframes glow {
    0% {
        filter: drop-shadow(0px 0px 5px rgba(255, 254, 208, 0.5));
    }

    50% {
        filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.8));
    }

    100% {
        filter: drop-shadow(0px 0px 5px rgba(255, 254, 208, 0.5));
    }
} */

/* MY TODO: find rounded font for logo */
.logo {

    padding-left: 270px;
    padding-top: 0;
    padding-right: 270px;
    margin-top: 0;
    border: 1px solid magenta;

    color: #ffffff;
    font-size: 32px;
    line-height: 32px;
    font-weight: 800;
    letter-spacing: 4px;

    /* vertical-align: middle; */
}

/*---------------------------------------------------------------*/

/* menu*/
.container-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;

    height: 60px;
    min-width: 250px;
    padding-top: 13px;
    padding-right: 34px;
    border: 1px solid yellow;
}

nav {
    margin-right: 0;

    background-color: transparent;
}

nav li {
    display: inline-block;

    /* MY TODO: align with flex */
    /* padding-left: 34px; */
    padding-left: 4px;
}

nav li:hover {
    position: relative;

    color: #ffffff;
}

nav a {
    display: block;

    color: #1B1A1A;
    font-size: 15px;
    font-family: "Poppins", normal;
    letter-spacing: 0.4px;
}

nav a:hover {
    display: block;

    color: #ffffff;
    font-size: 15px;
    font-family: "Poppins", normal;
    letter-spacing: 0.4px;
}

nav img:hover {
    border: 1px solid white;
    border-radius: 36px;

    background-color: white;
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 34px;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #16122F;
    /* border: none; */

    border-radius: 34px;
    background-color: #16122F;

    color: #ffffff;
    font-size: 1rem;

    cursor: pointer;
}

.menu-button:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 34px;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;

    border-radius: 34px;
    /* MY TODO: create hover colors for all buttons: */
    background-color: #5e549e;

    color: #ffffff;
    font-size: 1rem;

    cursor: pointer;
}

.login {
    width: 60px;
    height: 60px;
    border: 1px solid blue;
    margin-right: 50px;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 60px;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #16122F;
    /* border: none; */

    border-radius: 60px;
    background-color: #16122F;

    color: #ffffff;
    font-size: 1rem;

    cursor: pointer;

}

.login-button:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 60px;
    height: 60px;
    border: 12px solid rgb(226, 85, 45);

    border-radius: 60px;

    box-shadow: -1px 1px 36px 8px rgba(94, 84, 158, 0.51);
    -webkit-box-shadow: -1px 1px 36px 8px rgba(94, 84, 158, 0.51);
    -moz-box-shadow: -1px 1px 36px 8px rgba(94, 84, 158, 0.51);

    cursor: pointer;
}

/*---------------------------------------------------------------*/