html,
body {
    height: 100%;
    margin: 0;
    flex-shrink: 0;
    /* background-image: url("../img/auth_background_2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
}

header {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 122px;
    /* border: 1px solid rgb(76, 255, 21); */
    background-color: #343148;
    /* background-color: rgba(192, 191, 196, 0.3); */
}

main {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 4856px;
    /* border: 1px solid magenta; */
     background-color: #343148;
    /* background-color: rgba(192, 191, 196, 0.3); */
}

/* MY TODO: reduce the footer height in sketches and layout */
footer {
    z-index: 2;
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 420px;
    /* border: 1px solid blue; */
    background-color: #343148;
    /* background-color: rgba(192, 191, 196, 0.3); */
    /* background-image: url("../img/auth_background_2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
}

/* footer:after {
    z-index: 3;
    content: " ";
    display: block;
    opacity: 0.5;
    background-color: #16122F;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.notification {
    position: absolute;
    z-index: 3;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #FF6F3A;
    visibility: hidden;
}

.vertical-puzzle {
    display: flex;
    flex-direction: row;
}

.vertical-menu {
    display: flex;
    width: 222px;
    height: 5278px;
    background-color: #16122F;
    border-top-right-radius: 20px;
}

.main-of-the-main {
    display: flex;
    width: 1698px;
    height: 4858px;
    background-color: #a03285;
    /* background-color: rgba(192, 191, 196, 0.3); */
}

.horizontal-puzzle {
    display: flex;
    flex-direction: column;
}

.b1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    flex-shrink: 0;
    width: 1698px;
    height: 958px;
    border: 1px solid green;
    background-color: #343148;
}

.horizontal-menu {
    display: flex;
    flex-shrink: 0;
    width: 1698px;
    height: 40px;
    margin-left: 30px;
    background-color: #16122F;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.main-banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
    flex-shrink: 0;
    width: 1698px;
    height: 600px;
    border: 1px solid lime;
    /* background-color: #343148; */
}

.screen {
    display: flex;
    flex-shrink: 0;
    width: 1138px;
    height: 574px;
    margin-left: 36px;
    background-color: #000000;
    border-radius: 20px;
}

.promo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-shrink: 0;
    width: 428px;
    height: 570px;
    background-color: #343148;
    border-radius: 5px;
}

.promo1 {
    display: flex;
    flex-shrink: 0;
    width: 428px;
    height: 110px;
    border-radius: 5px;
    background-color: #7c111f;
}

.promo2 {
    display: flex;
    flex-shrink: 0;
    width: 428px;
    height: 110px;
    border-radius: 5px;
    background-color: #7c111f;
}

.promo3 {
    display: flex;
    flex-shrink: 0;
    width: 428px;
    height: 110px;
    border-radius: 5px;
    background-color: #7c111f;
}

.promo4 {
    display: flex;
    flex-shrink: 0;
    width: 428px;
    height: 110px;
    border-radius: 5px;
    background-color: #7c111f;
}

.promo5 {
    display: flex;
    flex-shrink: 0;
    width: 428px;
    height: 110px;
    border-radius: 5px;
    background-color: #7c111f;
}

.horizontal-titles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 1618px;
    height: 60px;
    margin-left: 30px;
    margin-right: 50px;
    border: 1px solid orange;
    /* background-color: #865a60; */
}

.favor-ch-name {
    display: flex;
    flex-shrink: 0;
    width: 169px;
    height: 60px;
    background-color: #b84d1c;
}

.show-all {
    display: flex;
    flex-shrink: 0;
    width: 98px;
    height: 60px;
    background-color: #b84d1c;
}

.horizontal-channels {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    flex-shrink: 0;
    width: 1698px;
    height: 200px;
    border: 1px solid blue;
    margin-left: 36px;
    /* background-color: #4a456e; */
    border-radius: 5px;
}

.favor-category {
    display: flex;
    flex-shrink: 0;
    width: 148px;
    height: 148px;
    background-color: #272346;
    border-radius: 5px;
}

.favor-channels {
    display: flex;
    flex-shrink: 0;
    width: 310px;
    height: 148px;
    background-color: #362999;
    border-radius: 5px;
}

.b2 {
    display: flex;
    flex-shrink: 0;
    width: 1698px;
    height: 1080px;
    background-color: #a03285;
}

.b3 {
    display: flex;
    flex-shrink: 0;
    width: 1698px;
    height: 1080px;
    background-color: #a03244;
}

.b4 {
    display: flex;
    flex-shrink: 0;
    width: 1698px;
    height: 1080px;
    background-color: #a03285;
}

.b5 {
    display: flex;
    flex-shrink: 0;
    width: 1698px;
    height: 660px;
    background-color: #a03232;
}