html,
body {
    height: 100%;

    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;

    /* font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal; */

    font-family: "Source Code Pro", monospace;
    /* font-family: "IBM Plex Mono", monospace; */
}

body {
    background-color: #343148;
    /* background-image: url("../img/auth_background_2.png");
    background-repeat: no-repeat;
    background-size: cover; */
    /* display: flex !important;
    align-items: center;
    align-items: center !important;
    justify-content: center;
    text-align: left; */
}

/* .wrapper {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center;
}

.container {
    width: 1245px;
    height: 626px;
    margin: 0 auto;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    background-color: transparent;
    margin-bottom: 100px;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(22, 18, 47, 0.8);
    z-index: -1;
}

h1 {
    display: flex;
    color: #E2552D;

    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

/* .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 400px;
    color: #E2552D;
} */

/*-------------------------------------------------------------*/

/* header */
header {
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 6;
    background-color: #343148;
    color: #E2552D;
    border: 1px solid lime;
}

header .container {
    max-width: 1440px;
    max-height: 90px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

header .container a {
    padding-top: 35px;
    padding-bottom: 35px;
}

.logo {
    padding-left: 152px;
}

/*---------------------------------------------------------------*/

/* menu*/
.containerMenu {
    min-width: 585px;
    padding-right: 140px;
}

nav {
    background-color: transparent;
    margin-right: 0;
}

nav li {
    display: inline-block;
    padding-left: 32px;
}

nav li:hover {
    color: #ffffff;
    position: relative;
}

nav a {
    display: block;
    font-size: 15px;
    font-family: "Poppins", normal;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}

nav a:hover {
    display: block;
    font-size: 15px;
    font-family: "Poppins", normal;
    letter-spacing: 0.4px;
    color: #ffffff;
}

.menuButton {
    display: flex;
    max-width: 126px;
    height: 46px;
    font-size: 1rem;
    background-color: #E2552D;
    border: 1px solid orangered;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    /* border: none; */
    color: #ffffff;
    border-radius: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.menuButton:hover {
    display: flex;
    max-width: 126px;
    height: 46px;
    font-size: 1rem;
    background-color: #1B1A1A;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    border: none;
    color: #ffffff;
    border-radius: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

/*---------------------------------------------------------------*/