@import "normalize";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: #060a1f;
}

body>div {
  width: 50%;
  border: 1px solid red;
  flex-shrink: 0;
}

.wrapper {
  padding-left: 16px;
}

h1 {
  margin: 0;
  padding: 0;
  color: #41569e;
  margin-bottom: 16px;
}

h2 {
  color: white;
  // margin-bottom: 20px;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 500px;
  height: auto;
  border: 1px solid rgb(82, 82, 97);
  padding: 20px;
  margin-top: 16px;
  border-radius: 20px;
  background-color: #131930;
  color: #41569e;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  // height: 200px;
}

.form input {
  width: 325px;
  height: 30px;
  background: #060a1f;
  border: 1px solid rgb(82, 82, 97);
  color: white;
  border-radius: 5px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
}

.form button {
  width: 90px;
  height: 30px;
  background: #41569e;
  border: 1px solid rgb(82, 82, 97);
  color: white;
  border-radius: 5px;
  padding: 6px 10px 20px 10px;
  margin-bottom: 16px;
}

.in-progress button {
  background: #c77757;
  border: 1px solid rgb(82, 82, 97);
  color: white;
  border-radius: 5px;
  margin-left: auto;
}

.done button {
  background: #57c785;
  border: 1px solid rgb(82, 82, 97);
  color: white;
  border-radius: 5px;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  height: 40px;
  width: 425px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  background: #060a1f;
}

.list button {
  background-color: transparent;
  border: none;
}

li {
  color: white;
}

.done {
  text-decoration: line-through;
}