* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

/* menu*/
.containerMenu {
  width: 100%;
  padding: 5px;
  background-color: grey;
  display: flex;
  gap: 10px;
  margin-bottom: 40px;

  & a {
    color: orangered;
    text-decoration: none;

    &.active {
      color: blueviolet;
    }
  }
}

nav {
  background-color: transparent;
  margin-right: 0;
}

nav li {
  display: inline-block;
  padding-left: 32px;
}

nav li:hover {
  color: #ffffff;
  position: relative;
}

nav a {
  display: block;
  font-size: 15px;
  font-family: "Poppins", normal;
  letter-spacing: 0.4px;
  color: #1B1A1A;
}

nav a:hover {
  display: block;
  font-size: 15px;
  font-family: "Poppins", normal;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.menuButton {
  display: flex;
  max-width: 126px;
  height: 46px;
  font-size: 1rem;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  border: none;
  color: #ffffff;
  border-radius: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

.menuButton:hover {
  display: flex;
  max-width: 126px;
  height: 46px;
  font-size: 1rem;
  background-color: #1B1A1A;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  border: none;
  color: #ffffff;
  border-radius: 16px;
  padding-left: 10px;
  padding-right: 10px;
}


/* slider */

.slide-container {
  width: 70%;
  margin: auto;
  margin-top: 100px;
}

h3 {
  text-align: center;
}

.each-slide>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

.indicator {
  width: 30px;
  color: blue;
  text-align: center;
  cursor: pointer;
  border: 1px blue solid;
}

.indicator.active {
  background: #000;
  color: #fff;
}

.each-slide-effect>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}