@media (max-width: 319.99px) {

  .container {
    max-width: 320px;
    border: 1px solid rgb(207, 42, 194);
  }

  /* header */
  header {
    height: 60px;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--color-background);
  }

  .menu-container {
    height: 60px;
    width: 100px;
    margin-left: 32px;
    margin-right: 0;
  }

  .menu-container nav a {
    display: none;
  }

  /********************************************************************/
  /* main */
  /* MY_TODO кадрировать фоновое изображение */
  #main-banner {
    background-image: url("../img/1_1.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto;
    /* padding-top: 175px;
    padding-bottom: 115px; */
    position: relative;
    padding: auto;
    margin: 0 auto;
    /* width: 100%;
    height: 492px; */
  }

  .shadowed-bg .container {
    z-index: 15;
    position: relative;
  }

  .shadowed-bg:after {
    content: " ";
    display: block;
    opacity: 0.7;
    background-color: var(--color-background);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: 0; */
  }

  #main-banner .container {
    color: var(--color-white);
  }

  #main-banner h1 {
    font-size: 48px;
    line-height: 100%;
    font-weight: 800;
    padding-bottom: 30px !important;
    margin-bottom: 0;
    color: var(--color-white);
  }

  #main-banner a {
    color: var(--color-primary-green);
    font-weight: bold;
    font-size: 16px;
  }

  .header-tools {
    gap: 32px;
    margin-right: 32px;
  }

  #main-banner p {
    display: none;
  }

  .slider-nav{
    display: none;
  }

  .slider-pagination{
    display: none;
  }

  .block-header {
    font-style: italic;
    color: var(--color-white);
    font-size: 48px;
    padding: 30px 30px 24px 30px;
    line-height: 100%;
    font-weight: 600;
    font-family: var(--font-cormorant);
  }

 
  #articles .row {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .image-slider {
    width: 256px;
    height: 492px;
    background-image: url("../img/card_5.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: auto;
    margin: 0 auto;
  }

  .image-slider a{
    color: #899d9d;
    display: block;
    margin-top: 458px;
    padding-top: 458px;
  }

  .article-prewiev {
    width: 256px;
    height: 492px;
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-left: 16px;
    margin: 30px 20px 30px 20px;
  }

  #contact-form {
    display: none;
  }

  footer {
    display: none;
  }

}