:root {
  --font-open-sans: "Open Sans", sans-serif;
  --font-cormorant: "Cormorant", serif;
  --color-white: #ffffff;
  --color-grey: #899d9d;
  --color-background: #1d2f30;
  --color-background-shade: #0b1919;
  --color-green-text: #506829;
  --color-primary-green: #bae249;
  --color-green-active-click: #688b05;
  --color-green-focus: #83a440;
  --color-green-hover: #91ac46;
  --color-red: #e24949;

  --transition: all 0.2s linear;
}

body {
  background-color: var(--color-background);
  /*не наследуется*/
  font-family: var(--font-open-sans);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-cormorant);
}

a {
  text-decoration: none;
  transition: var(--transition);
}

.footer-copiright {
  font-size: 12px;
  /* line-height: auto; */
  color: var(--color-grey);
  padding-top: 3px;
  padding-bottom: 3px;
}

.footer-social {
  background-color: var(--color-background-shade);
  padding: 18px 0;
}

.footer-social nav {
  gap: 30px;
}

.footer-social nav a svg path {
  transition: all var(--transition);
}

.footer-social nav a:hover svg path {
  fill: var(--color-green-hover);
}

header {
  height: 60px;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--color-background);
}

.menu-container {
  height: 60px;
  margin-left: 165px;
  margin-right: 165px;
}

.menu {
  gap: 64px;
  margin-left: 125px;
}

.menu a {
  color: var(--color-white);
}

.menu a:hover {
  color: var(--color-green-hover);
}

.menu a:focus {
  color: var(--color-green-active-click);
}

.header-tools {
  gap: 64px;
}

.header-tools button {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
}

.header-tools button:hover svg path {
  stroke: var(--color-green-hover);
}

.header-tools button:focus svg path {
  stroke: var(--color-green-focus);
}

#main-banner {
  background-image: url("../img/1_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 175px;
  padding-bottom: 115px;
  position: relative;
  /* z-index: -2; */
}
/*todo разместить затеняющий слой между другими слоями*/
#main-banner:after {
  content: " ";
  display: block;
  opacity: 0.7;
  background-color: var(--color-background);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#main-banner .conteiner {
  /* z-index: 15; */
  position: relative;
  color: var(--color-white);
}

#main-banner h1 {
  font-size: 60px;
  line-height: 100%;
  margin-bottom: 16px;
  color: var(--color-white);
}

#main-banner p {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 24px;
  color: var(--color-white);
}

#main-banner a {
  color: var(--color-primary-green);
  font-weight: bold;
  font-size: 16px;
}

#main-banner a svg path {
  transition: var(--transition);
}

#main-banner a:hover,
#main-banner a:hover svg path {
  color: var(--color-green-hover);
  fill: var(--color-green-hover);
}

#main-banner a:focus,
#main-banner a:hover svg path {
  color: var(--color-green-active-click);
  fill: var(--color-green-active-click);
}

#main-banner a svg {
  transition: var(--transition);
}

#main-banner a:hover svg,
#main-banner a:focus svg {
  width: 51px;
  height: 16px;
}

/*---------------------------*/

#carousel {
  padding-top: 60px;

}

.card {
  background: none;
  border: none;
  color: var(--color-grey);
  line-height: 150%;
  border-radius: 0;
}

.card .card-image {
  background-color: var(--color-background-shade);
  padding: 30px 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .card-image img {
  height: 100%;
  max-width: 100%;
  width: auto;
  object-fit: cover;
}

.card .card-image span {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--color-grey);
  font-family: var(--font-cormorant);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  line-height: 100%;
  font-weight: 700;
  padding-top: 1px;
}

.card .card-content {
  border: 1px solid var(--color-background-shade);
  padding: 16px 16px 24px 16px;
  flex-grow: 1;
  /*соотношение элементов в частях*/
}

.card .card-content h3 {
  font-weight: 700;
  color: var(--color-white);
}

/*прибить блок к началу флекс-контейнера*/
.card .card-content .button {
  align-self: flex-start;
}

.button {
  border: 1px solid var(--color-green-hover);
  color: var(--color-green-hover);
  border-radius: 0;
  font-size: 16px;
  padding: 10.5px 28.5px;
  display: inline-block;
  /*ссылка строчный элемент будет вести себя как блочный*/
}

.button:hover {
  color: var(--color-background-shade);
  background: var(--color-green-text);
}

.button:focus {
  color: var(--color-background-shade);
  background: var(--color-green-active-click);
  border: 1px solid var(--color-green-active-click);
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: stretch;
}

.owl-carousel .owl-stage .owl-item .card {
  height: 100%;
  flex-direction: column;
}

/*при уведличении текста в параграфе текст перекроет кнопку*/
/* .button-pos{
  position: absolute;
  bottom: 24px;
  left:16px;
} */

.slider-nav {
  font-size: 24px;
  color: var(--color-white);
  font-family: var(--font-cormorant);
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 16px;
  margin-bottom: 57px;
}

.slider-nav button {
  background: none;
  border: none;
  padding: 0;
}