body {
    background-color: white;
}

.hMenu {
    background-color: rgb(97, 97, 97);
    width: 960px;
    border-top: 5px solid red;
    border-radius: 0 0 10px 10px;
    color: white;
    display: inline-block;
    margin-left: 25vw;
}

.hMenu ul li {
    width:max-content;
    height: 50px;
    display: inline-block;
    /*center inside menu button*/
    padding-left: 24px;
    padding-top: 12px;
}

.hMenu a {
    color: white;
    text-shadow: 0px 3px 4px rgba(0,0,0,0.51);
}

.author {
    display: block;
    color: grey;
    margin-top: 20px;
    margin-left: 25vw;
}