@import "normalize";

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 10px 0px 10px 0px;
  padding: 0;
}

body {
  background: #0d4430;
}

body>div {
  width: 50%;
  border: 1px solid red;
  flex-shrink: 0;
}

.tracker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1200px;
  min-height: 900px;
  // border: 1px solid rgb(82, 82, 97);
  border: 1px solid #16F529;
  padding: 32px;
  border-radius: 20px;
  background-color: #03302c;
  color: #419e87;
}

.blocks-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1136px;
  min-height: 836px;
  // border: 1px solid lime;
}

.block1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
  min-height: 836px;
  // width: 370px;
  padding: 32px 64px 32px 32px;
  // border: 1px solid red;
  border-right: 1px solid #16F529;
}

.block2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  min-height: 836px;
  // width: 766px;
  padding: 32px 32px 32px 64px;
  // border: 1px solid blue;
}

h1 {
  margin: 0;
  color: #419e87;
  -webkit-text-stroke: 1px #16F529;
}

h2 {
  margin: 0;
  color: #419e87;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.form input {
  width: 240px;
  height: 30px;
  background: #011d1b;
  border: 1px solid rgb(82, 82, 97);
  color: white;
  border-radius: 5px;
  padding-left: 15px;
}

.form input:hover {
  border: 1px solid #419e87;
  ;
  color: #419e87;
}

.form button {
  max-width: 180px;
  height: 36px;
  background: #419e87;
  border: 1px solid rgb(82, 82, 97);
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
}

.form button:hover {
  background: #1a7a62;
  border: 1px solid #0a5341;
  color: white;
}

li {
  color: white;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background: #011d1b;
  height: auto;
  width: 702px;
  border-radius: 5px;
  padding: 10px;
}

.list button {
  background-color: transparent;
  border: none;
}