/* Template 640px * 1147px */
* {
    font-family: Verdana;
}

body {
    background-color: rgb(255, 255, 255);
    max-width: 640px;
    max-height: 1147px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #313131;
}

main {
    background-color: #141415;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

main h1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 58px;
    padding-bottom: 47px;
    padding-left: 38px;
    padding-right: 42px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

main a {
    color: #51ACFF;
    font-weight: bold;
    font-size: 1rem;
}

.link1 {
    padding-left: 280px;
    padding-right: 263px;
    padding-bottom: 25px;
}

.numbers {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 0;
    margin-top: 0;
}

main span {
    font-weight: 100;
    font-size: xx-small;
    padding-bottom: 16px;
}

.up-to {
    padding-bottom: 5px;
}

.block-row {
    display: flex;
    flex-direction: row;
    gap: 65px;
    margin-bottom: 51px;
}

.block {
    width: 96px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 4px solid rgb(214, 160, 139);
}

footer {
    background-color: #313131;
    color: #7D7D7D;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.links {
    padding-top: 48px;
    padding-bottom: 28px;
}

.links a {
    padding-right: 10px;
}

footer p {
    font-size: 10px;
    text-align: center;
    padding-left: 83px;
    padding-right: 86px;
}

.theMostImportantInfo {
    padding-bottom: 36px;
}

.theMostImportantInfo a {
    color: #51ACFF;
}